<div style="height: 100vh;" fxLayout="column">
	<mat-toolbar color="primary" style="height: 7vh;">
		<mat-toolbar-row>
			<button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
          <mat-icon>menu</mat-icon>
        </button>
			<span>Micromobilità in Italia</span>
			<span class="menu-spacer"></span>
			<div fxShow="true" fxHide.lt-md>
				<!-- Per Schermi grandi -->
				<a href="https://www.facebook.com/groups/286938265272169" target="_blank" mat-button>by Club Italiano
					del Monopattino Elettrico</a>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>

	<mat-sidenav-container fxFlex fxLayout="row">
		<mat-sidenav #sidenav>
			<!-- Per schermi piccoli -->
			<mat-nav-list>
				<mat-list-item>
					<img matListAvatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Logo CIME">
					<h3 matLine>Club Italiano</h3>
					<p matLine>
						<span> del Monopattino Elettrico </span>
					</p>
				</mat-list-item>
				<a href="#" mat-list-item>Radio CIME</a>
				<mat-list-item>Legenda</mat-list-item>
				<a href="#" mat-list-item>Crediti</a>
				<a href="#" mat-list-item>Discalmer</a>
				<a (click)="sidenav.toggle()" mat-list-item>
					<mat-icon>keyboard_backspace</mat-icon>
				</a>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content fxFlex>
			<div id="map"></div>
			<div mat-card #overlayElement id="popup" class="ol-popup">
				<mat-card-header>
					<div mat-card-avatar></div>
					<mat-card-title>{{titoloPopup}}</mat-card-title>
					<mat-card-subtitle>{{sottotitoloPopup}}</mat-card-subtitle>
				</mat-card-header>
				<!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
				<mat-card-content>
					<mat-list *ngIf="viewLista">
						<mat-list-item *ngFor="let comune of comuni">{{comune}}</mat-list-item>
					</mat-list>
					<p>
						{{testoPopup}}
					</p>
				</mat-card-content>
				<mat-card-actions>
					<a mat-button *ngIf="!viewLista" href='{{linkPopup}}' target="_blank">
						<mat-icon>launch</mat-icon> Fonte
					</a>
				</mat-card-actions>

			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>